div[root-main-footer]{
    width: 100%;
    display: flex;
    background-color: #000000;

    > div{
        margin: 1rem 1rem 1rem auto;

        > p{
            font-size: 0.75rem;
            letter-spacing: 0.0125rem;
            color: #FFFFFF;
            margin: 0;
        }
    }
}