/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'src/assets/scss/variables';


html, body{
    width:100% !important;
    height: 100% !important;
    background-color: $color-white !important;
    font-family: "Quicksand, Impact, Franklin Gothic Bold, sans-serif" !important;
    margin: 0 !important;
    padding: 0 !important;
  }